@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  
  /* font-size (base 4) */
  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 32px;
  --fs-6: 40px;
  --fs-7: 48px;

  /* radius (base 8) */
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;
  --radius-5: 40px;

  /* colors */
--pry-clr: #2872a1;
--pry-clr-fade: #cbdde9;
--sec-clr: #f2f2f2;

/* EXTRA COLORS */
--bg-clr-1: #568259;
--bg-clr-2: #ffc482;
--bg-clr-3: #07020d;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--pry-clr-fade);
  line-height: 1.6;
}