@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  
  /* font-size (base 4) */
  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 32px;
  --fs-6: 40px;
  --fs-7: 48px;

  /* radius (base 8) */
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;
  --radius-5: 40px;

  /* colors */
--pry-clr: #2872a1;
--pry-clr-fade: #cbdde9;
--sec-clr: #f2f2f2;

/* EXTRA COLORS */
--bg-clr-1: #568259;
--bg-clr-2: #ffc482;
--bg-clr-3: #07020d;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--pry-clr-fade);
  line-height: 1.6;
}
section > div {
  height: 100vh;
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  border-bottom: 1px solid #333;
}
.flexbox-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-inner {
  display: grid;
  place-items: center;
}
.flexbox-inner,
.grid-inner,
.positioning-inner {
  position: relative;
}
.centering {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
}
.positioning-inner .form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.form-wrapper {
  width: 100%;
  max-width: 340px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  border-radius: var(--radius-1);
  overflow: hidden;
}
.form-title {
  text-align: center;
  font-size: var(--fs-4);
  background: var(--pry-clr);
  padding: var(--space-3) 0;
  font-weight: 700;
  color: #fff;
}
.wrapper-inner {
  padding: var(--space-3);
}
form {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
.row {
  max-width: 100%;
  position: relative;
  border: 1px solid lightgrey;
  display: flex;
  overflow: hidden;
  border-radius: var(--radius-1);
}
input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--fs-1);
  padding: 0 var(--space-2);
  transition: box-shadow 200ms ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: inset 0 0 3px #2872a1;
}
i {
  background-color: var(--pry-clr);
  padding: var(--space-2) 12px;
  color: #fff;
  font-size: var(--fs-2);
}
.remember {
  display: flex;
  gap: var(--space-2);
  padding: var(--space-1);
}
.btn {
  padding: var(--space-2) 0;
  display: flex;
  justify-content: center;
  background-color: var(--pry-clr);
  color: var(--sec-clr);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 300ms ease;
}
.btn:hover {
  background-color: #2873a1d7;
}
.form-forgot {
  display: flex;
  justify-content: center;
  gap: var(--space-1);
}
.form-forgot p {
  font-size: var(--fs-2);
}